<div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">First Name</label>
                <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">First Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="surname">Last Name</label>
                <input type="text" formControlName="surname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.surname.errors }" />
                <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
                    <div *ngIf="f.surname.errors.required">Last Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input type="text" formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
                <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.phoneNumber.errors.required">Phone Number is required</div>
                </div>
            </div>
            <div class="form-group">
                User Type
                <select class="form-control" formControlName="userType" (change)="changeUserType(f.userType)">
                    <option value="student">Student</option>
                    <option value="company">Company</option>
                </select>
                <div *ngIf="submitted && f.userType.errors" class="invalid-feedback">
                    <div *ngIf="f.userType.errors.required">User Type is required</div>
                </div>
            </div>
            <div class="form-group" *ngIf="userType == 'company'">
                <label for="companyName">Company Name</label>
                <input type="text" formControlName="companyName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }" />
                <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
                  Company Name is not valid
                </div>
            </div>
            <div class="form-group" *ngIf="userType == 'company'">
                <label for="address">Address</label>
                <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                  Address is not valid
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Register
                </button>
                <a routerLink="../login" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div>